@model BeginCollectionItem.Mvc3Demo.Models.OrderModel
@{
    ViewBag.Title = "BeginCollectionItem Demo";
}
<h2>
    BeginCollectionItem Demo
</h2>
<p>
    Your order has been submitted.
</p>
